@import 'styles/tools';

.lockAvatar {
  background-color: #1bbd7e !important;
}

.passwordField {
  margin: 10px 0;
}

.signInPaper {
  padding: 20px;
  width: 280px;
  margin: 20px auto;
  --Paper-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12) !important;
}

.signInButton {
  margin: 8px 0;
}
